:root > * {
  --md-code-hl-comment-color: #6a9955;
  --md-code-hl-function-color: #dcdcaa;
  --md-code-hl-keyword-color: #569cd6;
  --md-code-hl-operator-color: #d4d4d4;
  --md-code-hl-punctuation-color: #d4d4d4;
  --md-code-hl-special-color: #4ec9b0;
  --md-code-hl-string-color: #ce9178;
  --md-code-hl-variable-color: #9cdcfe;
}
