.md-announce a,
.md-announce a:focus,
.md-announce a:hover {
  color: currentColor;
}

.md-typeset code[data-color="category-udon"] {
  background-color: #7e56c2;
}

.md-typeset code[data-color="category-udon-sharp"] {
  background-color: #009485;
}

.md-typeset code[data-color="severity-warning"] {
  color: rgba(0, 0, 0, 0.87);
  background-color: #cbdc38;
}

.md-typeset code[data-color="severity-error"] {
  background-color: #ef5552;
}

.md-typeset code[data-color="severity-hidden"] {
  color: #333;
  background-color: #ccc;
}
